.slider{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.dropdown-toggle{
    display: flex !important;
    width: 100%;
  }
  .dropdown-toggle::after{
    display: none !important;
  }
  .dropdown-menu{
    width: 100%;
  }
  .dropdown-item{
    display: flex !important
  }