.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.form{
    margin-bottom: 2rem;
    height: 400px;
    padding: 2rem;
    margin-top: 3rem;
}
.execute{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
