.dropdown-toggle{
    display: flex !important;
    width: 100%;
}
.dropdown-toggle::after{
    display: none !important;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    display: flex !important
}
.icon{
    margin-bottom: 0;
}
.name{
    margin-bottom: 0;
}
.select-treatment{
    margin-right: auto;
    margin-bottom: 0;
}
.price{
    margin-left: auto;
    margin-bottom: 0;
}