.dropdown-toggle{
    display: flex !important;
    width: 100%;
}
.dropdown-toggle::after{
    display: none !important;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    display: flex !important
}
.icon{
    margin-bottom: 0;
}
.name{
    margin-bottom: 0;
}
.select-treatment{
    margin-right: auto;
    margin-bottom: 0;
}
.price{
    margin-left: auto;
    margin-bottom: 0;
}
.dropdown-item-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.slider{
    width: 100%;
    margin-left: -0.5rem;
}
.noUi-origin{
    display: none;
}
.date{
    margin: 0;
    line-height: 90%;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}
.day-dropdown-item{
}
.container{
    padding: 0 !important;
}
