.slider-container {
    width: 90%;
    max-width: 400px;
}

/* Attribute disabled doesn't work nice noUiSlider*/
.disabled{
  pointer-events: none;
  background: #B8B8B8;
}
#event-start{
  margin-top: 60px;
}
.noUi-value-sub{
  display: none;
}