.slider-container {
    width: 90%;
    max-width: 400px;
}

/* Attribute disabled doesn't work nice noUiSlider*/
.disabled-touch-area{
  pointer-events: none;
}
.disabled-origin{

  cursor: not-allowed;
}